
    <div class="nav-header">
            <div style="padding:10%;">
                <a class="row" href="index.html">
                   <h4 style="color: white;">Notes MS</h4>
                </a>
            </div>
        </div>
        <div class="header">    
            <div class="header-content clearfix">
               
                <div class="header-right">
                    <ul class="clearfix">
                        
                        <li class="icons dropdown d-none d-md-flex">
                            <button routerLink="/login" (click)="onLogout()" class="btn btn-dark">Logout</button>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    
                    <li>
                        <a routerLink="/dashboard">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>